body {
    font-family: 'Times New Roman', Times, serif;
}

#container {
    width: 50%;
    margin: auto;
}

header {
    background-color: #4da1ff;
    background-image: url('../img/pattern.png');
}

#logo {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #4abbeb;
}

.grey-text {
    color: #878787;
}