body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #4da1ff;
    background-image: url('../img/pattern.png');
    background-size: 20em;
}

#logo {
    width: 200px;
    padding-top: 30px;
}

h1 {
  
}

a {
    text-decoration: none;
    color: #4abbeb;
}

.grey-text {
    color: #878787;
}

.tim-image{
    width: 48%;
}

#photo-credits {
    font-size: small;
}